.Board {
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 50px #fff, -10px 0 60px #f0f, 10px 0 60px #0ff;
}
table tr:first-child td:first-child {
  border-radius: 10px 0 0 0 !important;
}
table tr:first-child td:last-child {
  border-radius: 0 10px 0 0 !important;
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 10px !important;
}
table tr:last-child td:last-child {
  border-radius: 0 0 10px 0 !important;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.Neon1 {
  font-family: neon;
  color: #FB4264;
  font-size: 5vw;
  text-shadow: 0 0 3vw #F40A35;
}

.Neon2 {
  font-family: neon;
  color: #426DFB;
  font-size: 5vw;
  text-shadow: 0 0 3vw #2356FF;
}

.Neon1 {
  animation: Neon1 1s ease infinite;
  -moz-animation: Neon1 1s ease infinite;
  -webkit-animation: Neon1 1s ease infinite;
}

@keyframes Neon1 {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.Neon2 {
  animation: Neon2 2s linear infinite;
  -moz-animation: Neon2 2s linear infinite;
  -webkit-animation: Neon2 2s linear infinite;
  -o-animation: Neon2 2s linear infinite;
}

@keyframes Neon2 {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}
.win-message .Neon1,
.win-message .Neon2{
  font-size: 10vw;
}